<!doctype html>
<html>
<head>
<#include "/adminPage/common.html"/>
<#include '/adminPage/script.html'/>
<link rel="stylesheet" href="${ctx}/lib/xterm/xterm.css" />

<script src="${ctx}/lib/xterm/xterm.js" charset="utf-8"></script>
<script src="${ctx}/js/adminPage/ssh/webssh.js" charset="utf-8"></script>
</head>
<body style="background-color: black;">


	<div id="terminal" style="width: 100%; height: 100%"></div>

	<script>
		openTerminal({
			operate : 'connect',
			host : '${ssh.host}',//IP
			port : '${ssh.port}',//端口号
			username : '${ssh.username}',//用户名
			password : '${ssh.password}'//密码
		});

		function openTerminal(options) {
			var client = new WSSHClient();
			/* var term = new Terminal({
			    cols: 117,
			    rows: 43,
			    cursorBlink: true, // 光标闪烁
			    cursorStyle: "block", // 光标样式  null | 'block' | 'underline' | 'bar'
			    scrollback: 800, //回滚
			    tabStopWidth: 8, //制表宽度
			    screenKeys: true
			}); */

			var term = new Terminal({
				cursorBlink : true, // 光标闪烁
				screenKeys : true
			});

			term.on('data', function(data) {
				//键盘输入时的回调函数
				client.sendClientData(data);
			});
			term.open(document.getElementById('terminal'));
			//在页面上显示连接中...
			term.write('Connecting...');
			//执行连接操作
			client.connect({
				onError : function(error) {
					//连接失败回调
					term.write('Error: ' + error + '\r\n');
				},
				onConnect : function() {
					//连接成功回调
					client.sendInitData(options);
				},
				onClose : function() {
					//连接关闭回调
					term.write("\rconnection closed");
				},
				onData : function(data) {
					//收到数据时回调
					term.write(data);
				}
			});
		}
	</script>
</body>
</html>