<!DOCTYPE HTML>
<html>
<head>
<#include "/adminPage/common.html"/>

</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">

		<#include "/adminPage/header.html"/>
		<#include "/adminPage/menu.html"/>

		<div class="layui-body">
			<!-- 内容主体区域 -->
			<div style="padding: 15px">
				<fieldset class="layui-elem-field layui-field-title">
					<legend>${menuStr.log}</legend>
				</fieldset>

				<form action="${ctx}/adminPage/log" id="searchForm" method="post">
					<div class="layui-inline">
						<button type="button" class="layui-btn layui-btn-sm layui-btn-normal" onclick="add()">${logStr.add}</button>
					</div>

					<input type="hidden" name="curr" value="${page.curr}">
					<input type="hidden" name="limit" value="${page.limit}">
				</form>

				<table class="layui-table" lay-size="sm">
					<thead>
						<tr>
							<th>${logStr.path}</th>
							<th>${commonStr.operation}</th>
						</tr>
					</thead>
					<tbody>
						<#list page.records as log>
						<tr>
							<td>${log.path}</td>
							<td>
								<div class="layui-inline">
								<button class="layui-btn layui-btn-sm " onclick="tail('${log.id}','${log.path}')">${logStr.tail}</button>
								</div>
								
								<div class="layui-inline">
								<button class="layui-btn layui-btn-sm " onclick="down('${log.id}')">${logStr.download}</button>
								</div>
								
								<div class="layui-inline">
								<button class="layui-btn layui-btn-sm " onclick="edit('${log.id}')">${commonStr.edit}</button>
								</div>
								
								<div class="layui-inline">
								<button class="layui-btn layui-btn-sm layui-btn-danger " onclick="del('${log.id}')">${commonStr.del}</button>
								</div>
							</td>
						</tr>
						</#list>
					</tbody>
				</table>
				<div id="pageInfo"></div>
			</div>
		</div>
	</div>

	<div style="height: 0px; width: 0px; overflow: hidden;">
		<!-- 弹出框 -->
		<div class="layui-form" id="windowDiv" style="padding: 15px; display: none">
			<form id="addForm">
				<input type="hidden" name="id" id="id">
				<div id="nameDiv">
					<div class="layui-form-item">
						<label class="layui-form-label">${logStr.path}</label>
						<div class="layui-input-inline">
							<input type="text" name="path" id="path" class="layui-input">
						</div>
						<div class="layui-input-inline">
							<i class="layui-icon layui-icon-export" onclick="selectRootCustom()"></i>
						</div>
					</div>
				</div>
				
				<div class="layui-form-item center">
					<button type="button" class="layui-btn layui-btn-normal" onclick="addOver()">${commonStr.submit}</button>
					<button type="button" class="layui-btn" onclick="layer.closeAll()">${commonStr.close}</button>
				</div>
				
			</form>
		</div>

	</div>
	<#include '/adminPage/script.html'/>
	<#include '/adminPage/select_root.html'/>
	<script src="${ctx}/js/adminPage/log/index.js?v=${jsrandom}" type="text/javascript"></script>
	
	
</body>


</html>