.main .user {
	background-color: #0080ff;
	padding: 20px;
	border-bottom: 1px solid white;
	position: relative;
}

.main .user .name_div {
	
}

.main .user .name_div .name {
	font-size: 16px;
	color: white;
	font-weight: bolder;
}

.main .user .name_div .level {
	color: yellow;
	font-size: 14px;
	margin-top: 5px;
}

.main .user .name_div .recommender {
	color: white;
	font-size: 14px;
	margin-top: 5px;
}

.main .user .name_div .avatar{
	top: 20px;
	right: 15px;
	position: absolute;
}

.main .user .name_div .avatar img{
	border: 2px solid white;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}
.main .user .set_btn {
	border: 1px solid white;
	border-radius: 5px;
	padding: 3px;
	position: absolute;
	top: 30px;
	right: 10px;
	color: white;
}

.main .user .set_icon {
	top: 25px;
	right: 115px;
	position: absolute;
	color: white;
	font-size: 17px;
}

.main .money {
	background-color: #FE5455;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	position: relative;
}

.main .money .tips1 {
	font-size: 16px;
}

.main .money .count1 {
	margin-top: 5px;
	font-size: 20px;
}

.main .money .tips2 {
	font-size: 14px;
	margin-top: 20px;
}

.main .money .count2 {
	margin-top: 5px;
	font-size: 12px;
}

.main .money .money_btn {
	float: right;
	border: 1px solid white;
	border-radius: 5px;
	padding: 5px;
	margin-left: 10px;
	margin-top: 10px;
	position: absolute;
	top: 10px;
	right: 10px;
}

.main .menu {
	
}

.main .menu .item {
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	box-sizing: border-box;
	text-align: center;
	float: left;
	width: 33.33%;
	padding-top: 20px;
	padding-bottom: 20px;
}

.main .menu .item .item_icon {
	width: 40px;
	height: 40px;
}

.main .menu .item  .item_name {
	color: gray;
	font-size: 13px;
	margin-top: 10px;
}

.red {
	color: red;
}