.red {
	color: red;
}

.green {
	color: green;
}
.gray {
	color: gray;
}

.blue {
	color: blue;
}

.layui-layout-admin .layui-body {
	bottom: 0px;
}

.root {
	height: 38px;
	width: 50px;
}

.layui-icon-export {
	font-size: 30px;
	color: gray;
	cursor: pointer;
}

textarea {
	resize: none !important;
}

::-webkit-input-placeholder {
	color: #bbbbbb;
}

:-moz-placeholder {
	color: #bbbbbb;
}

.ellipsis{ 
    width:300px;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
 }  