.red{
	color: red;
}

.green{
	color: green;
}

.blue{
	color: blue;
}


.layui-layout-admin .layui-body {
	bottom: 0px;
}

.root{
	height: 38px;
	width: 50px;
}

.layui-icon-export{
	font-size: 30px;
	color: gray;
	cursor: pointer;
}

textarea {
	resize: none!important;
}