<!DOCTYPE HTML>
<html>
<head>
<#include "/adminPage/common.html"/>

</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">

		<#include "/adminPage/header.html"/>
		<#include "/adminPage/menu.html"/>

		<div class="layui-body">
			<!-- 内容主体区域 -->
			<div style="padding: 15px">
				<fieldset class="layui-elem-field layui-field-title">
					<legend>${menuStr.export}</legend>
				</fieldset>

				<form action="${ctx}/adminPage/export/dataImport" enctype="multipart/form-data" target="uploadTarget" id="dataImport" method="post">
					<div class="layui-form">
						<div class="layui-inline">
							<button type="button" id="dataExport" class="layui-btn layui-btn-sm" onclick="dExport()">${exportStr.dExport}</button>
						</div>
						<div class="layui-inline">
							<button type="button" id="dataImport" class="layui-btn layui-btn-sm" onclick="dImport()">${exportStr.dImport}</button>

							<div style="display: none;">
								<input type="file" id="file" name="file" onchange="dImportOver()">
							</div>
						</div>
						
						<div class="layui-inline">
							<button type="button" id="logExport" class="layui-btn layui-btn-sm layui-btn-normal" onclick="lExport()">${exportStr.lExport}</button>
						</div>
					</div>
				</form>
				<iframe id="uploadTarget" name="uploadTarget" src="#" style="width: 0; height: 0; border: 0px solid #fff;"></iframe>

			</div>
		</div>
	</div>


	<#include '/adminPage/script.html'/>
	<script src="${ctx}/js/adminPage/export/index.js?v=${jsrandom}" type="text/javascript"></script>
</body>


</html>