

<script src="${ctx}/js/adminPage/select_lang.js?v=${jsrandom}" type="text/javascript"></script>

<div style="height: 0px; width: 0px; overflow: hidden;">
	<!-- 弹出框 -->
	<div class="layui-form" id="changeLangDiv" style="padding: 15px; display: none">

		<div class="layui-form-item">
			<label class="layui-form-label">Language</label>
			<div class="layui-input-inline">
				<select name="lang" id="lang">
					<option value="zh" ${(lang=='zh')?string('selected','')}>简体中文</option>
					<option value="zh_TW" ${(lang=='zh_TW')?string('selected','')}>繁体中文</option>
					<option value="en_US" ${(lang=='en_US')?string('selected','')}>English</option>
				</select>
			</div>
		</div>

		<div class="layui-form-item center" style="text-align: center; margin-top: 20px;">
			<button type="button" class="layui-btn layui-btn-normal" onclick="changeLangOver()">OK</button>
			<button type="button" class="layui-btn " onclick="layer.close(changeLangIndex)">Cancel</button>
		</div>
	</div>
</div>
