<!DOCTYPE HTML>
<html>
<head>
<#include "/adminPage/common.html"/>
<style type="text/css">

.long{
	width: 150px!important;
}

.short{
	width: 50px!important;
}

</style>
</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">

		<#include "/adminPage/header.html"/>
		<#include "/adminPage/menu.html"/>

		<div class="layui-body">
			<div style="padding: 15px">
				<fieldset class="layui-elem-field layui-field-title">
					<legend>系统运行状态</legend>
				</fieldset>
				
				<input type="hidden" id="isInit" value="${isInit}"> 

				<div style="padding: 20px; margin: 20px;border: 1px solid #bfbfbf;">
					<div class="layui-row layui-col-space15">
						<div class="layui-col-md6">
							<div class="layui-card">
								<fieldset class="layui-elem-field layui-field-title">
									<legend>cpu利用率&nbsp;&nbsp;<span id="cpuCount" style="color: teal;"></span></legend>
								</fieldset>

								<div class="layui-progress layui-progress-big" lay-showpercent="true" lay-filter="cpu">
									<div class="layui-progress-bar layui-bg-green" lay-percent="0%"></div>
								</div>

								<fieldset class="layui-elem-field layui-field-title" style="margin-top: 40px;">
									<legend>内存使用&nbsp;&nbsp;<span id="memContent" style="color: teal;"></span></legend>
								</fieldset>

								<div class="layui-progress layui-progress-big" lay-showpercent="true" lay-filter="mem">
									<div class="layui-progress-bar layui-bg-blue" lay-percent="0%"></div>
								</div>
								
								<fieldset class="layui-elem-field layui-field-title" style="margin-top: 40px;">
									<legend>磁盘使用&nbsp;&nbsp;<span id="memContent" style="color: teal;"></span></legend>
								</fieldset>
								
								<#list list as disk>
									<span class="layui-breadcrumb"><a href="javacript:">${disk.path} ( ${disk.usableSpace} / ${disk.totalSpace} )</a></span>
									<div class="layui-progress" lay-showpercent="true" style="margin-top: 20px;margin-bottom: 10px;">
										<div class="layui-progress-bar layui-bg-blue" lay-percent="${disk.percent}"></div>
									</div>
								</#list>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div style="height: 0px; width: 0px; overflow: hidden;">
		<div class="layui-form" id="nginxGuideDiv" style="padding: 15px; display: none">
			<form id="addForm">
				<div class="layui-form-item">
					<label class="layui-form-label long">nginx.conf路径</label>
					<div class="layui-input-inline">
						<input type="text" id="nginxPath" class="layui-input" value="${nginxPath}">
					</div>
					<div class="layui-input-inline short">
						<i class="layui-icon layui-icon-export" onclick="selectRoot('nginxPath')"></i>   
					</div>
					<div class="layui-form-mid layui-word-aux">nginx.conf路径</div>
				</div>
	
				<div class="layui-form-item">
					<label class="layui-form-label long">nginx执行命令</label>
					<div class="layui-input-inline">
						<input type="text" id="nginxExe" class="layui-input" value="${nginxExe}">
					</div>
					<div class="layui-input-inline short">
						<i class="layui-icon layui-icon-export" onclick="selectRoot('nginxExe')"></i>   
					</div>
					<div class="layui-form-mid layui-word-aux">如果是安装版nginx，请直接填写"nginx"</div>
				</div>
	
				<div class="layui-form-item">
					<label class="layui-form-label long">nginx目录</label>
					<div class="layui-input-inline">
						<input type="text" id="nginxDir" class="layui-input" value="${nginxDir}">
					</div>
					<div class="layui-input-inline short">
						<i class="layui-icon layui-icon-export" onclick="selectRoot('nginxDir')"></i>   
					</div>
					<div class="layui-form-mid layui-word-aux">如果是安装版nginx，可不填</div>
				</div>
	
				<div class="layui-form-item" style="text-align: center;">
					<button type="button" class="layui-btn layui-btn-normal" style="width: 100px;" onclick="addNginxGiudeOver()">提交</button>
					<!-- <button type="button" class="layui-btn" onclick="layer.closeAll()">关闭</button> -->
				</div>
			</form>
		</div>
	
	</div>


	<#include '/adminPage/script.html'/>
	<#include '/adminPage/select_root.html'/>
	<script src="${ctx}/js/adminPage/monitor/index.js?v=${jsrandom}" type="text/javascript"></script>
</body>


</html>