<!DOCTYPE HTML>
<html>
<head>
<#include '/adminPage/common.html'/>
<style type="text/css">
html, body {
	margin: 0px;
	height: 100%;
}

#container {
	background-color: #CCCCCC;
	width: 100%;
	height: 100%;
}
</style>
</head>
<body>

	<div id="container"></div>


	<#include '/adminPage/script.html'/>
	<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=be1ecb18edf5ddf778c6dec16561796b&plugin=Map3D"></script>

	<script src="${ctx}/js/adminPage/login/map.js?v=${jsrandom}" type="text/javascript"></script>
</body>
</html>
