<!DOCTYPE HTML>
<html>
<head>
<#include "/adminPage/common.html"/>

</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">

		<#include "/adminPage/header.html"/>
		<#include "/adminPage/menu.html"/>

		<div class="layui-body">
			<!-- 内容主体区域 -->
			<div style="padding: 15px">
				<fieldset class="layui-elem-field layui-field-title">
					<legend>错误</legend>
				</fieldset>

				<div style="margin-left: 25px;font-size: 15px;">远程服务无妨访问</div>
			</div>
		</div>
	</div>

	<#include '/adminPage/script.html'/>
</body>


</html>