<div class="layui-header">
	<div class="layui-logo" >${projectName} ${currentVersion}</div>
	<ul class="layui-nav layui-layout-right">
		<li class="layui-nav-item">
			<#if hasNewVersion == 1 && newVersion != null>
				<a href="javascript:showUpdate('${newVersion.version}','${newVersion.url}','${newVersion.docker}','${newVersion.update}')"  style="font-weight: bold;color: red;">有新版本发布 ${newVersion.version}</a>
			</#if>
		
			<a href="${ctx}/welcome" >${admin.name}</a>
		</li>
		<li class="layui-nav-item">
			<a href="javascript:loginOut();">退出</a>
		</li>
	</ul>
</div>