

<script src="${ctx}/js/adminPage/select_preview.js?v=${jsrandom}" type="text/javascript"></script>
<div style="height: 0px; width: 0px; overflow: hidden;">
	<!-- 弹出框 -->
	<div class="layui-form" id="previewDiv" style="padding: 15px; display: none">
		<div class="layui-form-item">
			<div class="layui-input-inline" style="width: 100%">
				<textarea type="text" id="preview" name="preview" readonly="readonly" class="layui-textarea" style="height: 500px;">
				
				</textarea>
			</div>
		</div>
	</div>
</div>